
nav{
    text-align: center;
    margin-top: 10px;
}
nav a{
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    

}
nav a:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 3px;
    border-radius: 5px;
    

}